.ant-btn-primary:hover {
    background-color: #1677ff !important;
}

/* Cuando la pantalla es como máximo 768px */
@media (max-width: 768px) {
    .ant-btn-primary,
    .ant-switch-inner-unchecked {
        color: black !important;
    }
}

/* Cuando la pantalla es de al menos 768px */
@media (min-width: 768px) {
    .ant-switch-inner-unchecked {
        color: white !important;
    }
}

@media (min-width: 768px) {
    .ant-btn-primary {
        background-color: white !important;
    }
}